@keyframes loadContent {
    0% {
        transform: translateY(-100px);
        transform-origin: top;
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        transform-origin: top;
        opacity: 1;
    }
}